[Unit]
Description=shutdown script
After=mediacenter.service

[Service]
User=pi
Group=pi

Type=simple
ExecStart=/usr/bin/python /bin/final.py @bin.vcgencmd=/opt/vc/bin/vcgencmd @logfile=/home/pi/final.systemd.log @xbmc.host=localhost rbphdmi 1800 &
TimeoutStopSec=20
Restart=on-failure
RestartSec=60
StartLimitInterval=60s

[Install]
WantedBy=multi-user.target